@model List<Application.Domains.Wire>;
<div class="dropdown ml-lg-auto pl-2 pl-lg-0">
    <div class="select border-secondary  no-select">
        <span>Loại dây</span>
        <i class="las la-angle-down"></i>
    </div>
    <input id="filter" type="hidden" name="filter">
    <ul class="dropdown-menu bg-white srcoll">
        <li value="0">Tất cả</li>
        @foreach (var item in Model)
        {
            <li value="@item.Id">@item.Name</li>
        }
    </ul>
</div>