@page "{status?}"
@model ErrorModel
@{
    ViewData["TitleSEO"] = "Lỗi";
}

<div class="banner-lg section">
    <p class="">banner error </p>
</div>
<p>
    <strong>Lỗi</strong> <code> @ViewData["status"]</code>
</p>
