<!-- ================== Feedback ================== -->
<div class="container section">
    <h2 class="text-center heading">PHẢN HỒI CỦA KHÁCH HÀNG</h2>
    <div class="gallery-nav srcoll">
        <div class="img mx-3">
            <img src="./images/feedbacks/feedback.jpg">
        </div>
        <div class="img mx-3">
            <img src="./images/feedbacks/feedback.jpg">
        </div>
        <div class="img mx-3">
            <img src="./images/feedbacks/feedback.jpg">
        </div>
        <div class="img mx-3">
            <img src="./images/feedbacks/feedback.jpg">
        </div>
        <div class="img mx-3">
            <img src="./images/feedbacks/feedback.jpg">
        </div>
    </div>
    <hr class="mt-3 white w-75">
</div>
<!-- ================== End Feeback ================== -->
