@* <!-- ================== Header ================== --> *@
<header>
    <div class="container">
        <div class="row align-items-center">
            <!--Nav Mobile-->
            <div class="col-3 d-lg-none">
                <a id="menu-open" class="nav-item px-0" href="javascript:void(0)" title="Menu Icon"><i class="icon las la-bars"></i></a>
            </div>
            <!--Title-->
            <div class="col-6 col-lg-3  text-lg-left text-center">
                <a class=" py-3 middle-inline" href="/" title="Trang chủ">
                    <img class="border-round d-none d-lg-inline-block" width="60" src="~/icon/logo.jpg">
                    <span class="pl-lg-2 text-4 bold"> Homer house</span>
                </a>
            </div>
            <!--Nav Desktop-->
            <div class="col-6 col-lg-7  d-none d-lg-block">
                <nav class="nav-container">
                    <a class="nav-item anim-center" href="/khuyen-mai" title="Khuyến mãi">khuyến mãi</a>
                    <a class="nav-item anim-center" href="/dong-ho-nam" title="Đồng hồ nam">nam</a>
                    <a class="nav-item anim-center" href="/dong-ho-nu" title="Đồng hồ nữ">nữ</a>
                    <a class="nav-item anim-center" href="/dong-ho-doi" title="Đồng hồ đôi">cặp đôi</a>
                    <a class="nav-item anim-center" href="/phu-kien" title="Phụ kiện">phụ kiện</a>
                </nav>
            </div>
            <!--Nav Icon-->
            <div class="col-3 col-lg-2 d-lg-block">
                <div class="d-flex justify-content-end">
                    <a class="nav-item anim-center nav-icon d-none d-lg-block" title="Search Icon">
                        <i id="search-open" class="icon las la-search"></i>
                    </a>
                    <a class="nav-item anim-center nav-icon px-0" href="/gio-hang" title="Cart Icon">
                        <div class="cart-shopping">
                            <i class="icon las la-shopping-cart"></i>
                            <span id="cart-count-items" class="white bg-red">0</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!--Side Menu mobile-->
        <div id="menu-target" class=" d-lg-none nav-mobile">
            <nav class="nav-container flex-column bg-white">
                <a class="nav-item-sm" href="/" title="Trang chủ">trang chủ</a>
                <a id="search-sm" class="nav-item-sm" href="javascript:void(0)" title="Tìm kiếm">tìm kiếm</a>
                <a class="nav-item-sm" href="/khuyen-mai" title="Khuyến mãi">khuyến mãi</a>
                <a class="nav-item-sm" href="/dong-ho-nam" title="Đồng hồ nam">nam</a>
                <a class="nav-item-sm" href="/dong-ho-nu" title="Đồng hồ nữ">nữ</a>
                <a class="nav-item-sm" href="/dong-ho-doi" title="Đồng hồ đôi">cặp đôi</a>
                <a class="nav-item-sm" href="/phu-kien" title="Phụ kiện">phụ kiện</a>
                @* <a class="nav-item-sm" href="/kiem-tra-don-hang" title="Kiểm trạng thái đơn hàng">Kiểm trạng thái đơn *@
                    hàng</a>
                <i id="menu-close" class="p-3 btn-classic red big-icon icon las la-times"></i>
            </nav>
            <span class="overlay bg-black"></span>
        </div>
        <!--Search Bar-->
        <form action="/tim-kiem" method="get">
            <div id="search-target" class="searchbar d-block bg-white ">
                <div class="search-input container">
                    <input type="search" name="query" placeholder="Nhập sản phẩm cần tìm ...">
                    <i id="search-close" class="btn-classic red big-icon las la-times"></i>
                </div>
            </div>
        </form>
    </div>
</header>
@* <!-- ================== End-Header ================== --> *@