<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="language" content="VN">
    <meta name="resource-type" content="document">
    @RenderSection("seo", false)
    <!--CDN REFERENCE-->
    <link rel="icon" href="~/icon/logo.jpg" type="image/x-icon" sizes="16x16">
    @* <link rel="preconnect" href="https://fonts.gstatic.com"> *@
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css" />
    <link rel="stylesheet" href="~/libs/bootstrap/dist/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/libs/line-awesome-1.3.0/1.3.0/css/line-awesome.min.css" />
    <!--STYLESHEET-->
    <link rel="stylesheet" href="~/css/utility.site.css" />
    <link rel="stylesheet" href="~/css/header.site.css" />
    <link rel="stylesheet" href="~/css/main.site.css" />
    <link rel="stylesheet" href="~/css/list-product.css" />
    @RenderSection("css", false)
</head>

<body>
    <cache>
        <partial name="_HeaderPartical"></partial>
    </cache>
    @RenderBody()
    @await Component.InvokeAsync("Footer")
    <div id="loader">
        <div class="loader-container">
            <div class="dash uno"></div>
            <div class="dash dos"></div>
            <div class="dash tres"></div>
            <div class="dash cuatro"></div>
        </div>
    </div>
    <!--script-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/js/cart.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
