@* <!-- ================== Policy ================== --> *@
<div class="container policy section">
    <h2 class="text-center heading">LÝ DO BẠN NÊN MUA HÀNG CỦA CHÚNG TÔI</h2>
    <div class="row row-contents">
        <div class="col-12 col-lg-4 pb-4">
            <div class="policy-item border-black bg-black white">
                <span class="policy-icon">
                    <img src="~/icon/truck.svg">
                </span>
                <div class="bold">
                    <p class="mb-0 bold text-4"> Vận chuyển toàn quốc </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 pb-4">
            <div class="policy-item border-black bg-black white">
                <span class="policy-icon">
                    <img src="~/icon/returning.svg">
                </span>
                <div class="bold">
                    <p class="mb-0 bold text-4"> Đổi trả dễ dàng </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 pb-4">
            <div class="policy-item border-black bg-black white text-center">
                <span class="policy-icon">
                    <img src="~/icon/chat.svg">
                </span>
                <div class="policy-text bold">
                    <p class="mb-0 bold text-4"> Hỗ trợ tận tâm</p>
                </div>
            </div>
        </div>
    </div>
</div>
@* <!-- ================== End-Policy ================== --> *@